* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  width: 100%;
  min-width: 320px;
}

body {
  height: 100%;
  font-size: 20px;
  font-family: Arial;
}

p {
  font-size: 1em;
}

h1 {
  font-size: 1.5em;
  margin-bottom: .5em;
}

.app {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  background-color: #ccc;
}

.counter {
  margin-top: 1em;
  padding: 1em;
}

.text_input {
  font-size: 1em;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
}

.text_input:last-child {
  margin-bottom: 0;
}
