* {
  padding: 0px;
  margin: 0px;
}

html {
  font-family: Arial;
  font-size: 20px;
  min-width: 320px;
}

body, .app {
  height: 100vh;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal-container {
  position: relative;
  z-index: 999;
}
