// ----------------------------------------------------------
// Colors
// ----------------------------------------------------------
$color-grey-light: rgb(211, 211, 211);
$color-grey-base: rgb(129, 129, 129);
$color-grey-dark: rgb(43, 43, 43);
$color-grey-darker: rgb(24, 24, 24);

$color-blue-light: rgb(205, 233, 255);
$color-blue-base: rgb(0, 140, 255);
$color-blue-dark: rgb(0, 35, 63);

$color-pink-light: rgb(255, 203, 231);
$color-pink-base: rgb(255, 0, 140);
$color-pink-dark: rgb(61, 0, 34);