// ----------------------------------------------------------
// Global scope
// ----------------------------------------------------------

// Media query breakpoints
$breakpoints: (
  'phone-p-sm': (min-width: 315px),
  'phone-p-m': (min-width: 355px),
  'phone-p-l': (min-width: 370px),
  'phone-p-xl': (min-width: 405px),
  'phone-l-sm': (min-width: 550px),
  'phone-l-m': (min-width: 660px),
  'tablet-sm': (min-width: 750px),
  'computer-m': (min-width: 1300px),
);

// Font
$font-size-base: 20px;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Default theme
$color-primary-light: $color-grey-light;
$color-primary-base: $color-grey-base;
$color-primary-dark: $color-grey-dark;

$text-color-primary-light: $color-grey-light;
$text-color-primary-base: $color-grey-base;
$text-color-primary-dark: $color-grey-dark;

$bg-color-primary-light: $color-grey-light;
$bg-color-primary-base: $color-grey-base;
$bg-color-primary-dark: $color-grey-dark;
$bg-color-primary-darker: $color-grey-darker;