@import '../styles/colors';

button {
  padding: 1em;
}

.modal-parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 50%;
  background-color: $grey-50;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .modal-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    background-color: $grey-25;
  }
}
