.body {
  display: flex;
  flex-flow: column nowrap;
  padding: $container-padding;
  background: $grey-50;
}

.single-column {
  margin:  $container-padding;
}

.double-column {
  display: flex;
  flex-flow: row nowrap;
  margin:  $container-padding;

  &__container {
    width: 50%;
    margin-left: ($container-padding * 2);
  }

  &__container:first-child {
    margin-left: 0;
  }
}