$text-base-color: rgb(192, 192, 192);
$text-sub-headline-color: rgb(124, 124, 124);

$link-base-color: rgb(0, 140, 255);

$header-bg-color: rgb(48, 48, 48);
$body-bg-color: rgb(24, 24, 24);
$footer-bg-color: rgb(12, 12, 12);

$item-bg-color:rgb(48, 48, 48);
$item-image-container-bg-color: rgb(12, 12, 12);