// ----------------------------------------------------------
// Themes
// ----------------------------------------------------------
$theme-blue: (
  color-light: rgb(205, 233, 255),
  color-base: rgb(0, 140, 255),
  color-dark: rgb(0, 35, 63)
);

$theme-pink: (
  color-light: rgb(255, 203, 231),
  color-base: rgb(255, 0, 140),
  color-dark: rgb(61, 0, 34)
);

$themes: (
  theme-blue: $theme-blue,
  theme-pink: $theme-pink,
);

// ----------------------------------------------------------
// Text
// ----------------------------------------------------------
$text-base-color: rgb(205, 233, 255);

// ----------------------------------------------------------
// Layout
// ----------------------------------------------------------
$body-bg-color: rgb(24, 24, 24);
