.navigation {
  display: flex;

  &__link-container {
    padding: 2rem 1rem;

    &:first-child {
      margin-left: 1rem;
    }
  }

  &__link-text {
    color: $link-base-color;
    text-decoration: none;
    font-weight: 700;
  }
}