$breakpoints: (
  'phone-small': (min-width: 315px),
  'phone-medium': (min-width: 355px),
  'tablet-small': (min-width: 750px),
  'computer-small': (min-width: 1200px),
);

@mixin mq($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  // Check if $raw-query is a string or a map
  @if $raw-query {
    $query: if(
      // if condition
      type-of($raw-query) == 'string',
      // true return
      unquote($raw-query),
      // else return
      // In this case $raw-query is of type 'map', so we convert
      // the map to a string representation using inspect()
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}