// ----------------------------------------------------------
// Global scope
// ----------------------------------------------------------
// Font
$font-weight-normal: 400;
$font-weight-bold: 700;

// Default theme
$color-primary-light: $color-grey-light;
$color-primary-base: $color-grey-base;
$color-primary-dark: $color-grey-dark;

$text-color-primary-light: $color-grey-light;
$text-color-primary-base: $color-grey-base;
$text-color-primary-dark: $color-grey-dark;

$bg-color-primary-light: $color-grey-light;
$bg-color-primary-base: $color-grey-base;
$bg-color-primary-dark: $color-grey-dark;
$bg-color-primary-darker: $color-grey-darker;

// Gobal component scope for fine-grain control if no theme is used

// Box component
// ./components/Box.jsx
// ./sass/components/_box.scss
// ----------------------------------------------------------
$box-color-bg: $color-grey-dark;
$box-label-color-bg: $color-grey-base;
$box-text-color: $color-grey-light;
