#root {
  height: 100%;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient($bg-color-secondary-base, $bg-color-secondary-dark);
  z-index: -9999;
}