.switch-container {
  height: 100%;
  padding: 1rem;
  background: $grey-25;
  box-sizing: border-box;

  &__item-wrapper {
    position: relative;
  }
  
  &__item {
    display: flex;
    padding: 1rem;
    margin-bottom: $container-padding;
    background: $grey-50;
    box-sizing: border-box;
    transition: height 300ms;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    padding: 1rem;
    margin-bottom: $container-padding;
    background: $grey-50;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    padding: 1rem;
    background: $grey-75;
    overflow: hidden;
  }
}