// ----------------------------------------------------------
// Colors
// ----------------------------------------------------------
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$color-red-light: rgb(199, 27, 0);
$color-red-base: rgb(163, 22, 0);
$color-red-dark: rgb(133, 18, 0);

$color-blue-light: rgb(30, 34, 53);
$color-blue-base: rgb(24, 27, 41);

$color-grey-lighter: rgb(223, 223, 223);
$color-grey-light: rgb(187, 186, 186);
$color-grey-base: rgb(128, 128, 128);
$color-grey-dark: rgb(54, 54, 54);
$color-grey-darker: rgb(26, 25, 25);