.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15)
}

.modal {
  position: absolute;
  top: 1rem;
  left: 10%;
  right: 10%;
  background: white;
  padding: 1rem;
  border: 2px solid black;
}