.stats {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  min-width: 11rem;
  padding: 1rem;
  background: $stats-bg-color;
  opacity: 0.75;
  z-index: 1000;

  &__column {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 0.5rem;

    &:last-child {
      padding: 0;
    }
  }

  &__left {
    display: flex;
    flex-grow: 1;
  }

  &__right {
    display: flex;
    justify-content: flex-end; 
  }

  p {
    font-size: 0.8rem;
    color: $stats-text-color;
  }
}