$color1: rgb(26, 137, 42);
$color2: rgb(0, 99, 44);
$color3: rgb(212, 201, 0);
$color4: rgb(0, 78, 112);
$color5: rgb(0, 41, 59);
$color6: rgb(176, 255, 188);
$color7: rgb(255, 255, 255);

$font: Arial, Helvetica, sans-serif;