@import '../styles/colors';

.counter-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 1rem;
  background-color: $grey-25;

  p {
    font-size: 2rem;
  }

  .counter-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1rem;
    margin: 1rem;
    background-color: $grey-50;

    button {
      width: 90%;
      margin-top: 1rem;
      padding: 1rem;
    }
  }
}
