@mixin theme($theme-name, $theme-map) {
  .#{$theme-name} {
    &.box {
      background: map-get($theme-map, 'box-color-bg');
  
      &__label {
        background: map-get($theme-map, 'box-label-color-bg');
      
        h1 {
          color: map-get($theme-map, 'box-text-color');
        }
      }
    }
  }
}

@each $theme-name, $theme-map in $themes {
  @include theme($theme-name, $theme-map);
}

.box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: $font-size-base;
  padding: 1em;
  background: $box-color-bg;
  margin-bottom: 1em;

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin-bottom: 1em;
    background: $box-label-color-bg;

    h1 {
      font-size: 1em;
      color: $box-text-color;
    }
  }
}

@include mq('phone-small') {
  .box {
    &__label {
      h1 {
        font-size: 1em;
      }
    }
  }
}

@include mq('tablet-small') {
  .box {
    &__label {
      h1 {
        font-size: 1.75em;
      }
    }
  }
}
