@mixin theme($theme-name, $theme-map) {
  .#{$theme-name} {
    .button {
      &--normal{
        background: map-get($theme-map, 'bg-color-primary-base');
        color: map-get($theme-map, 'text-color-primary-light');
      }

      &--selected{
        background: map-get($theme-map, 'bg-color-primary-light');
        color: map-get($theme-map, 'text-color-primary-base');
      }
    }
  }
}

@each $theme-name, $theme-map in $themes {
  @include theme($theme-name, $theme-map);
}

.button {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  border: none;
  cursor: pointer;

  &--normal {
    background: $bg-color-primary-base;
    color: $text-color-primary-light;
  }

  &--selected {
    background: $bg-color-primary-light;
    color: $text-color-primary-base;
  }

  &__label {
    display: flex;
    padding: 1em;
  }
}

@include mq('phone-small') {
  .button {
    &__label {
      font-size: 1em;
    }
  }
}

@include mq('tablet-small') {
  .button {
    &__label {
      font-size: 1.25em;
    }
  }
}